body {
  margin: 0;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #ffffff;
  font-size: 18px;
}
.app {
  background: #7810d4;
}
h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}
.menu1 {
  margin-bottom: 40px;
  margin-top: 20px;
}
h2 {
  color: #165a72;
}
/* styles.css */

.home-container,
.dashboard-container,
.transactions-container {
  display: flex; /* Use flexbox for content alignment */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically (optional) */
  /* Optional properties for vertical centering
  min-height: 100vh; /* Set minimum height for full viewport height
  */
  padding: 20px; /* Add some padding */
}
